@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap');


*{
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #D3D3D3;
    
}
img{
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

h1{
    margin-bottom: 10px;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
  color: #208297;
}

a:active{
    color: #445F90;
}

input{
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
}

form{
    margin-bottom: 15px;
}

.info{
    display: flex;
}


.container{
    max-width: 550px;
    margin: auto;
}

.info-text{
    margin-left: 30px;
}

.info-text p{
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #2F4F4F;
  
}

.parone{
    margin-top: 10px;
}

.partwo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.social{
    margin-bottom: 20px;
}

.info-text h3{
    margin-bottom: 10px;
}
.card-1{

border: 2px solid ;
border-radius: 10px;
border-color: aliceblue;
background-color: aliceblue;
margin-bottom: 10px;
padding-left: 60px;
padding-top: 10px;
padding-bottom: 10px;

}

.card-2{
    border: 1px solid;
    border-radius: 10px;
    background-color: #EAEFF7;
    border-color: #EAEFF7;
    padding-left: 60px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.list-1{
    list-style: none;
}

.btn{
    background: #A4C0C6;
    padding: 5px 20px;
    color: #334444;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-family: inherit;
}

.btn:hover{
    opacity: .8;
    color: #307976;
}


.feedback h3{
    text-align: center;
}

.form-group label{
display: block;
font-size: 14px;
}

.form-group input,
.form-group textarea
{
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group{
margin-right: 20px;
width: 50%;

}
.form-row .form-group:last-child{
    margin-right: 0;
}